<h1>Editing Customer Job Action Result</h1>

<%= render 'form', customer_job_action_result: @customer_job_action_result %>

<%= link_to 'Show', @customer_job_action_result %> |
<%= link_to 'Back', customer_job_action_results_index_path %>
